body {
  
 font-family: helvetca neue, helvetica, arial;
  background:white;
  color:white;
  margin: 0;
  padding: 0;
}
 
/*HEADER*/
header {
  background:black;
  background-image: url("images/hero.png");
  background-size: 100%;
  background-position: center;
  height: 500px;
  padding: 20px;
  text-align: center;
    
}  

header a {
  color:white;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 40px;
}
header .logo  a{
  background-image: url("images/logo.png");
  background-size: 300px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 80px;
  position: relative;
  text-indent: -9999999px;
  top: -30px;
  width: 300px;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  }
  
  nav li{
  display: inline-block;
  margin: 10px 20px 0 0;
  text-align: center;
  }

/*FEAUTURES */
.features   {
  color:gray;
  background-color: black;
  padding: 20px;
  display: flex;
  flex-direction:row;
}
.features figure {
  margin:auto;
  width: 100px; 
  text-align: center;
}
.features figure img {
  border: 1px solid white;
  border-radius: 50%;
  width: 200px;
  
}

/*FOOTER*/

footer{
  background:black;
  text-align: center;
  background-color: black;
  padding: 20px;
  text-align: center;
}
